<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Appointment</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'appointment-style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <h1>Book an Appointment</h1>
    </header>
    <div class="container">
        <form id="appointmentForm">
            <div class="form-group"> 
                <label for="date">Select Date:</label>
                <input type="date" id="date" name="date" required>
            </div>
            <div class="form-group">
                <label for="time">Select Time:</label>
                <input type="time" id="time" name="time" required>
            </div>
            <div class="form-group">
                <label for="service">Service:</label>
                <select id="service" name="service" onchange="updateOptions()" required>
                    <option value="">Select a Service</option>
                    <option value="surgery">Surgery</option> 
                    <option value="fixed">Fixed Partial Denture</option>
                    <option value="crown">Crown</option>
                    <option value="removable">Removable Partial Denture</option>
                    <option value="complete">Complete Denture</option>
                    <option value="other">Others</option>
                </select>
            </div>

            <!-- Dynamic Options for Other Services -->
            <div class="form-group" id="otherOptions" style="display: none;">
                <label for="otherType">Select Type:</label>
                <select id="otherType" name="otherType" onchange="updateMaterialOptions()"></select>
            </div>

            <!-- Material Selection -->
            <div class="form-group" id="materialOptions" style="display: none;">
                <label for="materialType">Material:</label>
                <select id="materialType" name="materialType"></select>
            </div>

            <div class="form-group">
                <label for="notes">Additional Notes:</label>
                <textarea id="notes" name="notes" placeholder="Any specific details..."></textarea>
            </div>

            <div class="button-wrapper">
                <a href="{% url 'landing_page' %}" class="btn">Back</a>
                <button type="submit" class="btn">Submit</button>
            </div>
        </form>
        <div class="success-message" id="successMessage">
            Appointment booked successfully!
        </div>
    </div>
    <script src="{% static 'appointment.js' %}"></script>
</body>
</html>