<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'profile-style.css' %}">
</head>
<body>
    <header>
        <h1>Create Your Profile</h1>
    </header>
    <div class="container">
        <form method="post" action="{% url 'profile_creation' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Create Profile</button>
        </form>
    </div>
</body>
</html>